<!DOCTYPE html>
<html>
<head>
    <title>黑龙江节点动画</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__ROOT__/Public/bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="__ROOT__/Public/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__ROOT__/Public/jquery/jquery-1.10.1.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__ROOT__/Public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#modifyinfo").click(function(){
          var data = $("#infoForm").serialize();
          $.post("__APP__/Admin/Index/doRegister", data, function(data){
            if(data == 1)
            {
              alert("添加成功");
              window.location.href="__APP__/Admin/Index/index";
            }
            else
              alert("添加失败");
          });
        });
      });
    </script>
    <style type="text/css">
        .nav li a{
            color: #fff;
        }
    </style>
</head>
<body style="background-image: url(__ROOT__/Public/img/bg.png);background-repeat:no-repeat; background-size: 100% 1100px">
    <div class="container">
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-12">
            <h2 style="color:white; text-align: center;">
                黑龙江节点动画有限公司后台管理
            </h2>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="__APP__/Admin/Index/index">员工管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Group/index">部门管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Announcement/index">通知公告管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Meeting/index">会议室管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Test/index" target="_blank">测试平台管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Knowledge/index" target="_blank">知识平台管理</a></li>
              <li role="presentation"><a href="__APP__/Admin/Project/index" target="_blank">项目平台管理</a></li>
              <li role="presentation"><a href="__APP__/Home/Login/logout">注销用户</a></li>
            </ul>
        </div>
        <div class="row" style="background-color: #fff; margin-top: 1%; height: 900px;">
            <div class="col-md-12" style="text-align: center;">
              <h3>
                员工管理
              </h3>
            </div>
            <div class="col-md-offset-4 col-md-4" style="margin-top: 2%;">
              <form id="infoForm" onsubmit="return false;">
                <div class="form-group">
                  <label for="exampleInputEmail2">用户名:</label>
                  <input type="text" class="form-control" name="username" value="{$user.username}">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">工号:</label>
                  <input type="text" class="form-control" name="uid" value="{$user.uid}" readonly="readonly">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">电话:</label>
                  <input type="text" class="form-control" name="phone" value="{$user.phone}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">Email:</label>
                  <input type="text" class="form-control" name="email" value="{$user.email}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">地址:</label>
                  <input type="text" class="form-control" name="address" value="{$user.address}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">部门:</label><br>
                  <select class="btn" style="border: 1px gray solid;" name="gid">
                    <foreach name="departmentinfo" item="vo" >
                    <option value="{$vo.gid}">{$vo.groupname}</option>
                    </foreach>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">职位:</label><br>
                  <select class="btn" style="border: 1px gray solid;" name="pkid">
                    <foreach name="pkid" item="vo" >
                    <option value="{$vo.pkid}">{$vo.kind}</option>
                    </foreach>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">身份证:</label>
                  <input type="text" class="form-control" name="idcard" value="{$user.idcard}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">出生年月:</label>
                  <input type="text" class="form-control" name="age" value="{$user.age}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">学历:</label>
                  <input type="text" class="form-control" name="background" value="{$user.background}" >
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" id="modifyinfo">添加</button>
                </div>
              </form>
            </div>
        </div>
        <div class="row">
            <div class="footer_f">
                <div class="footer text-center col-sm-offset-3 col-sm-6" style="padding:10px 0; color:#999;">黑龙江节点动画有限公司 版权所有@2016
                </div>
            </div>
        </div>
    </div>
</body>